.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 26vw;
  height: 100%;
  z-index: 999;
  background-color: #ffffff;
  transition: transform 0.3s ease-in-out;
}

.sidebar__logo {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

.sidebar__menu {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-items: start;
}

.sidebar__menu__item {
  display: flex;
  align-items: center;
  padding: 14px 20px;
  color: #000000;
  transition: background-color 0.3s ease-in-out;
}

.sidebar__menu__item:hover {
  background-color: #f2f2f2;
}

.sidebar__menu__item.active {
  background-color: #f2f2f2;
}

.sidebar__menu__item__icon {
  margin-right: 10px;
}

.sidebar__menu__item__text {
  font-size: 18px;
}

@media screen and (max-width: 767px) {
  .sidebar {
    transform: translateX(-100%);
  }

  .sidebar.show {
    transform: translateX(0);
  }

  .sidebar__menu {
    display: flex;
    flex-direction: column;
    height: calc(100% - 80px);
    overflow-y: auto;
  }

  .sidebar__menu__item {
    flex: 1;
    justify-content: center;
    text-align: center;
    padding: 10px;
    font-size: 16px;
  }

  .sidebar__menu__item__icon {
    margin-right: 0;
  }

  .sidebar__menu__item__text {
    display: none;
  }

  .sidebar__menu__indicator {
    display: none;
  }

  .burger {
    position: absolute;
    top: 20px;
    left: -200px;
    z-index: 99999;
    cursor: pointer;
  }

  .burger span {
    display: block;
    width: 25px;
    height: 3px;
    margin-bottom: 5px;
    background-color: #000000;
    transition: transform 0.3s ease-in-out;
  }

  .burger span:nth-child(1) {
    transform: rotate(45deg);
  }

  .burger span:nth-child(2) {
    transform: rotate(-45deg) translateX(-8px);
  }

  .burger.show span:nth-child(1) {
    transform: rotate(0) translate(0);
  }

  .burger.show span:nth-child(2) {
    transform: rotate(0) translate(0);
  }
}

/* Show the burger button when the screen size is smaller than md */
@media (max-width: 768px) {
  .burger {
    display: block;
  }
}

/* Hide the burger button when the screen size is bigger than md */
@media (min-width: 768px) {
  .burger {
    display: none;
  }
}
