.banner{
    position: relative;
    
    width: auto;
    height:45rem;
    overflow: hidden;
    margin-bottom: 2rem;
    margin-top: 0rem;
}
.banner-wrapper{    
    position: relative; 
    width: auto; 
    height: 100%; 
    
}

.slider-wrapper{
    display: flex; 
    justify-content: flex-start; 
    align-items: center; 
    width: 100%; 

}

.swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }