.footer-wrapper{
    margin-top: 9rem; 
    width: 100%; 
    height: 2.75rem; 
}

.footer-content{
    color: #000000; 
    font-weight: 600; 
    text-align: center; 
    width: 100%; 
    height: 100%; 
}