.login-wrapper{
    display: flex; 
    background-color: #eeee; 
    justify-content: center; 
    align-items: center; 
    width: 100%; 
    height: 100vh; 
}

.login-form{
    display: flex; 
    justify-content: center; 
    align-items: center; 
    width: 66.666667%; 
    
    height: 75%; 
    border-radius: 0.125rem; 
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06); 

    @media (max-width: 640px) { 
       flex-direction: column;
        }
    @media (min-width: 640px) { 
    width: 100%; 
    box-shadow: none; 
    }
    @media (min-width: 768px) { 
    width: 100%; 
    }
    @media (min-width: 1024px) { 
    width: 100%; 
    box-shadow: none; 
    }
    .login-form-logo-wrapper{
        width: 66.666667%; 
        height: 80%; 

        
        @media (min-width: 768px) { 
        width: 66.666667%; 
        }
        @media (min-width: 1024px) { 
        width: 66.666667%; 
        }
        .login-form-logo{
            object-fit: contain; 
            padding-left: 2rem; 
            width: 100%; 
            height: 100%; 
        }
    }

    .form-area{
        float: left;
        padding-left: 1.5rem;
        padding-right: 1.5rem; 
        padding-top: 2rem;
        padding-bottom: 2rem; 
        margin-top: auto; 
        margin-bottom: auto; 
        flex-direction: column; 
        justify-content: center; 
        align-items: center; 
        width: 33.333333%; 
        height: 80%; 
        border-radius: 0.125rem; 
        @media (max-width: 640px) { 
            width: 100%;
        }
        @media (min-width: 640px) { 
        width: 100%; 
        max-width: 40rem;
        }
        .title{
            margin-bottom: 1rem; 
            color: #000000; 
            font-weight: 700; 
            text-align: center; 
            text-transform: uppercase; 
        }
    }
}
.w-full{
    width: 100%;
}
.relative{
    position: relative;
}
.mt-4{
    margin-top: 1rem; 
}
.mb-1{
    margin-bottom: 0.25rem; 
}
.show-password{   
    position: absolute;
    right: 0.5rem;
    top: 30%;
    cursor: pointer;
}
.text-red-500{
    color: #EF4444; 

}
.login-option{
    display: flex; 
    margin-bottom: 0.25rem; 
    margin-top: 0.5rem; 
    justify-content: space-between; 
    width: 100%; 
    padding-left: 1rem;
    padding-right: 1rem; 
    .login-option-item{
        text-decoration: underline; 
        cursor: pointer; 
        &:hover{
            color:#95a7a9;
        }
    }
}
.login-button{
    font-weight: 700; 
    text-transform: uppercase; 
    height: auto;
    line-height: 1.5rem;
    background-color: #95a7a9;
}
.login-option-orther{
    display: flex; 
    padding: 0.25rem; 
    justify-content: center; 
    align-items: center; 
    border-radius: 0.125rem; 
    border-width: 1px; 
    cursor: pointer; 
  
}
.text-sm{
    font-size: 0.875rem;
    line-height: 1.25rem; 
}
